body {
  width: 1000px;
  margin: auto;
  margin-top: 28px;
  box-sizing: border-box;
  max-width: 90%;
  padding: 50px;
  font: 3rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #bababa;
  border: 16px solid white;
  text-align: center;
  font-weight: bold;
  color: white;
}
p{
  margin-top: 1rem;
}

html{
  background: rgb(166,180,194);
  background: linear-gradient(0deg, rgb(78, 81, 85) 0%, rgb(195, 213, 234) 100%);
  background-size: cover;
  min-height:100vh;
}

a {
  color: #00B7FF;
}
